.App {
  text-align: center;
  background-color: rgb(246, 248, 134);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.section {
  margin: 100px auto;
  max-width: 250px;
  background-color: rgb(246, 248, 134);
}
.item {
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  display: flex;
  position: relative;
  padding-left: 8px;
}
.icon {
  height: 35px;
  color: red;
  position: absolute;
  right: 8px;
  top: 14px;
  cursor: pointer;
}
.item p {
  padding-left: 3px;
  padding-right: 5px;
}
.id {
  color: rgb(165, 40, 40);
}
.inputbox {
  height: 30px;
  width: 170px;
  font-size: 25px;
  margin: 5px;
  border: black 2px;
}
.Addbtn {
  width: auto;
  font-size: 25px;
  border-radius: 7px;
  color: maroon;
  border: 0px;
  cursor: pointer;
}
